#Welcome {
	height: 100%;
	margin: 0;
	padding: 0;
    display: flex; /* 开启弹性布局 */
	justify-content: center;
    flex-direction: column; /* 纵向排列，如需横向改为 row */
    align-items: center; /* 子元素水平居中 */
    color: #9da1d1;
	height: 100%;
}

#Welcome h1, 
#Welcome p {
    margin: 0; /* 去除默认边距，让文字更紧凑 */
}